target/
node_modules/
.DS_Store
*.log
.idea/
*.iml
.vscode/
.env
.env.local
blueshelf/ui.apps/src/main/content/jcr_root/apps/blueshelf/clientlibs/author/
blueshelf/ui.frontend/node/
catalog-api/target/
